div.footer{
  background-color: #2185D0;
  font-size:1rem;
  min-height:2.85714286em;
  -webkit-border-radius:.28571429rem;
  -moz-border-radius:.28571429rem;
  border-radius:.28571429rem;
  text-align: center;
  color:white;

}
div.footer h4 {
  padding-top:1em;
}
md-toolbar.menu-self{
  background-color: #2185d0;
  border-radius: 5px;
  color:white;
}
button.btnLogout{
background-color: #4a3b3b;
}
button.span{
color: white;
}
label{
  margin-left:2em;
}

