<div class="ui container">
<md-toolbar class="menu-self" >
    <label class="lblConnectedPeers" ><h4>Connected peers: {{connectedPeers}}</h4></label>
  <label class="lblWalletID"  ><h4>WalletID: {{walletID}}</h4></label>
    <label class="lblUsernameBalance" ><h4>Howdy  {{username}} | Balance:  {{balance}}ETH</h4></label>
  <label class="lblLogout" ><h4><button class="btnLogout" md-button (click)="logout()">Logout</button></h4></label>
</md-toolbar>



<accounts-component [isAdminAccount]='isAdmin' ></accounts-component>
  <contract-component [isAdminContract]='isAdmin'></contract-component>
<vendingmachine-component [isAdminVending]='isAdmin' (updateBalance)="onUpdateBalance($event)"></vendingmachine-component>
  <div class="footer"><h4>Copyright © Kevin Leyssens & Jeroen De Prest made possible by Ordina Belgium & Karel de Grote College</h4></div>
</div> 
