<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form class="ui large form" [formGroup]="loginForm" (ngSubmit)="submitLogin(loginForm.value, loginForm.valid)">
      <div class="ui stacked segment">
        <!--<md-spinner class="inverted" text="Loading..."></md-spinner>-->
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input id="username" label="Username" type="username" formControlName="username"  placeholder="Enter username...">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input id="password" label="Password" type="password" formControlName="password" placeholder="Enter password...">
          </div>
        </div>
        <button md-button id="submit" type="submit" [disabled]="!loginForm.valid"  class="ui fluid large teal">Login</button>
      </div>
      <div class="ui error message" [style.display] = "error==undefined? 'none' : 'block'">{{error}}</div>
    </form>

    <div class="ui message">
      New to us? <a href="/#/register">Sign Up</a>
    </div>
  </div>
</div>
