/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/

button.ui.primary{
  margin-right: 0px!important;
}
div.footer{
  margin-top:50px!important;
  height:50px;
}
button.buyOnebtn{
  width:100%;
}
a.header.item{
  font-size: 1.28rem;
}
button{
  background-color: #2185d0;
}
button span{
  color:white;
}
progressbar-component{
  width:100%;
}
div.mat-progress-bar-element::after{
  background-color: #2185d0;
}
div.mat-progress-bar-buffer{
  background-color: rgba(33,133,208,0.5);
}
.mat-progress-spinner path,.mat-spinner path{
  stroke:#2185d0;
  }

