div.contractComponent{
  margin-top:3em;
}
div.aligneren{
  text-align: center;
}
div.inlineContract{
  max-width:33%;
  display:inline-block;
}
div.setnewAdmin, div.removeAdmin{
  margin-left:0.8em;

}
div.setnewAdmin, div.removeAdmin, div.setSupplier{
  margin-bottom:1em;
}
md-progress-spinner.mat-progress-spinner{
  margin:auto;
}
